<div class="back-button">
  <button (click)="goBack()">Back</button>
</div>
<!-- skeleton until fetching data -->

<div class="user-card" *ngIf="skeletonVisible">
  <p-skeleton shape="circle" size="5rem" styleClass="margin-neg"></p-skeleton>
  <p-skeleton width="6rem" styleClass="mb-2 blued"></p-skeleton>
  <p-skeleton width="10rem" styleClass="mb-2 blued"></p-skeleton>
</div>

<div class="user-card" *ngIf="!skeletonVisible">
  <div class="user-avatar">
    <img [src]="user.avatar" alt="user-image" />
  </div>
  <div class="user-details">
    <p>{{ user.first_name }}, {{ user.last_name }}</p>
    <p class="email">{{ user.email }}</p>
  </div>
</div>
