/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.user-card {
  height: 150px;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 12.1px 0px rgba(0, 50, 109, 0.12);
  transition: all 0.1s ease-in-out;
  .user-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #0771de;
    margin-top: -55%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  .user-details {
    p {
      margin: 0;
      padding: 0;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    .email {
      color: #0771de;
    }
  }

  &:hover {
    border-color: #cae2fc;
    transform: scale(1.05);
  }
}
